/* #region Common */

:root {
  --primary: #ff6900;
  --light: #ffffff;
  --dark: #1a1a1a;
  --red: #ff0000;
  --green: #008000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

/* #endregion Common */

/* #region Utility */

.container {
  width: 70%;
  max-width: 1152px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.vp-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.vm-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.vm-5px {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* #endregion Utility */

/* #region Header */

#app_header {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#app_header .d-flex {
  justify-content: space-between;
  align-items: center;
}

#app_header .container ul {
  gap: 1rem;
}

#app_header .container a {
  color: var(--light);
  font-weight: 700;
}

#app_header .logo > img {
  width: unset;
  height: 30px;
  /* USED TO CENTER THE LOGO SINCE IT WAS NOT WITH FLEX, BECAUSE OF LEFT SECTION BIGGER THAN THE RIGHT ONE */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* #endregion Header */

/* #region Main */

#app_main {
  margin-top: 70px;
}

#app_main .d-flex {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

#app_main .card {
  width: calc((100% / 12 * 4) - (2rem / 3));
  cursor: pointer;
}

#app_main .card:hover .secondary_img {
  display: block;
}

#app_main .card i:hover {
  color: var(--red);
}

#app_main .image-wrapper {
  position: relative;
}

#app_main .image-wrapper .secondary_img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#app_main .card i {
  position: absolute;
  top: 2%;
  right: 0;
  padding: 1rem;
  background-color: var(--light);
}

#app_main .card .badge {
  position: absolute;
  left: 0;
  bottom: 10%;
  color: var(--light);
}

#app_main .card .badge > .discount,
#app_main .card .badge > .feature {
  padding: 0.3rem 0.5rem;
}


#app_main .card .badge > .discount {
  background-color: var(--red);
}

#app_main .card .badge > .feature {
  background-color: var(--green);
}

#app_main .card .brand {
  font-size: 0.875rem;
  font-weight: 400;
}

#app_main .card .discounted_price {
  color: var(--red);
  font-weight: 600;
}

#app_main .card .full_price {
  text-decoration: line-through;
}

/* #endregion Main */

/* #region Footer */

#app_footer {
  background-color: var(--dark);
  color: var(--light);
}

#app_footer > .d-flex {
  justify-content: space-between;
  align-items: center;
}

#app_footer h4 {
  font-size: 1.2rem;
}

#app_footer ul {
  gap: 1rem;
}

#app_footer a {
  color: var(--light);
  font-size: 0.875rem;
}

#app_footer .footer_right h6 {
  font-size: 0.875rem;
}

#app_footer .social_icons a:nth-child(even) {
  margin: 0 1rem;
}

/* #endregion Footer */
